/* Universal selector to reset margin, padding, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Limit the width of the main element */
main {
  max-width: 840px;
  margin: auto; /* Center the main content */
}

/* Style for the aside element */
aside {
  width: 20rem;
  margin: 1rem auto; /* Center the aside element */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative; /* For positioning h2 */
}

/* Style for the image inside the aside element */
aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

/* Style for the profile image in the main element */
main img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
  float: right; /* Float the profile image to the right */
}

/* Remove padding from paragraph elements */
p {
  padding: 0;
}

/* Style for the footer element */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem 0;
}

/* Style for the nav element */
nav {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

/* Style for the anchor tags inside the nav element */
nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #007bff;
}

/* Style for the h1 element */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Class Selectors */
/* Style for the .box class */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

/* Absolute positioning for h2 inside aside */
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}







