:root {
  --main-bg-color: #eee;
  --text-color: #333;
  --link-color: #007bff;
  --border-color: rgba(0, 0, 0, 0.1);
}

/* Universal selector to reset margin, padding, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flexbox layout for the body to handle aside and main */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  background-color: #f9f9f9;
}

/* Limit the width of the main element */
main {
  max-width: 840px;
  flex: 1 1 60%;
  margin: 1rem;
}

/* Style for the aside element */
aside {
  width: 100%;
  max-width: 300px;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  position: relative; /* For positioning h2 */
  flex: 1 1 30%;
}

/* Style for the image inside the aside element */
aside img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

/* Style for the profile image in the main element */
main img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
  float: right; /* Float the profile image to the right */
  margin-left: 1rem;
}

/* Remove padding from paragraph elements */
p {
  padding: 0;
}

/* Style for the footer element */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

/* Style for the nav element */
nav {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

/* Style for the anchor tags inside the nav element */
nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--link-color);
}

/* Style for the h1 element */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Class Selectors */
/* Style for the .box class */
.box {
  margin: 1rem;
  border: 1px solid var(--border-color);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

/* Absolute positioning for h2 inside aside */
aside h2 {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
}






